<h1><%= @sub.title %></h1>
<% if current_user == @sub.moderator %>
  <a href="<%= edit_sub_url %>">Edit Sub</a>
  <form action="<%= sub_url(@sub) %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Sub">
  </form>
<% end %>
<h3><a href="<%= new_post_url %>">Create Post</a></h3>
<ul>
  <% @sub.posts.each do |post| %>
    <li><a href="<%= post_url(post) %>"><%= post.title %></a></li>
  <% end %>
</ul>