<ul>
  <% @post.subs.each do |sub| %>
    <li><a href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
  <% end %>
</ul>
<h1><%= @post.title %></h1>
<p>By <%= @post.author.username %></p>
<p><%= @post.url %></p>
<p><%= @post.content %></p>

<% if current_user == @post.author %>
  <a href="<%= edit_post_url %>">Edit Post</a>
  <form action="<%= post_url(@post) %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Post">
  </form>
<% end %>

<h3>Comments</h3>
<h3><a href="<%= new_post_comment_url(@post) %>">Add Comment</a></h3>

<ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.content %></li>
  <% end %>
</ul>

