<!DOCTYPE html>
<html>
  <head>
    <title>Freddit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <% if current_user.nil? %>
      <p>Browsing as Guest</p>
      <a href="<%= new_session_url %>">Sign In</a>
      <a href="<%= new_user_url %>">Sign Up</a>
    <% else %>
      <p>Current User: <%= current_user.username %></p>
      <form action="<%= session_url %>" method="post">
        <%= auth_token %>
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Sign Out">
      </form>
    <% end %>
    <br>
    <a href="<%= subs_url %>">All Subs</a>
    <br>
    <% flash.each do |type, msg| %>
      <div class="flash"><%= msg %></div>
    <% end %>
    </header>
  <body>
    <%= yield %>
  </body>
</html>
